.row
  .col-sm-6
    %h4 Debug information
    %p
      Referrer:
      = @referrer
    %p
      URL:
      = @url
    %p
      IP:
      = @ip

.row
  .col-sm-6
    - @params.each do |p|
      .parameter
        %span.key
          = p[0]
        - if p[1].empty?
          %span.value.empty
        - else
          %span.value
            = p[1]
